<!DDCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>Marko Demo</title>

    <!-- CSS includes -->
    <lasso-head/>
  </head>
  <body>
    <!-- Top-level UI component: -->
    <addTodo/>

    <!-- JS includes -->
    <lasso-body/>
  </body>
</html>
